@black:  #111111;
@white:  #ffffff;
@blue:   #00b8d4;
@purple: #ec407a;

body {
  padding: 0;
  margin: 0;
}

.app {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  user-select: none;
  -webkit-user-select: none;
}

.header {
  display: table;
  width: 100%;
  background: @black;
  color: @white;

  h1 {
    display: table-cell;
    margin: 0;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500;

    a {
      cursor: pointer;
    }
  }

  nav {
    display: table-cell;
    text-align: right;
  }
}

.header-menu {
  position: relative;

  a {
    display: inline-block;
    padding: 0.5rem;
    cursor: pointer;
  }

  ul {
    position: absolute;
    right: 0%;
    top: 100%;
    display: none;
    background: @black;
    text-align: left;
    margin: 0;
    list-style: none;
    padding: 0;

    a {
      display: block;

      &:hover {
        background: lighten(@black, 10%);
      }
    }
  }

  &:hover ul {
    display: block;
  }
}

.board {
  .board-title {
    margin: 0rem;
    padding: 0.5rem;
    background: @blue;
    color: @white;
    font-size: 1rem;
    font-weight: 500;
  }

  .lanes {
    display: table;
    width: 100%;
    border-spacing: 0.5rem;
    table-layout: fixed;
  }
}

.lane {
  display: table-cell;
  border: thin solid lighten(@black, 80%);

  .lane-title {
    margin: 0rem;
    padding: 0.5rem;
    font-size: 1rem;
    background: lighten(@black, 90%);
    border-bottom: thin solid lighten(@black, 80%);
  }

  .cards {
    min-height: 10rem;
    padding: 0.5rem;
  }
}

.card {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: thin solid lighten(@black, 80%);
  background: lighten(@black, 90%);
  border-radius: 0.25rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;

  &:hover {
    border: thin solid lighten(@black, 75%);
    background: lighten(@black, 89%);
  }

  .id {
    background: @purple;
    color: @white;
    border-radius: 0.5rem;
    padding: 0rem 0.25rem;
    margin-right: 0.5rem;
    height: 1rem;
    font-size: 1rem;
  }
}

.introduction {
  margin: 0.5rem;
}
