;; Analyzed by ClojureScript 1.7.145
{:use-macros {defcard devcards.core}, :excludes #{}, :name cards.sortable-list, :imports nil, :requires {str clojure.string, clojure.string clojure.string, dc devcards.core, devcards.core devcards.core, dom om.dom, om.dom om.dom, kanban-card kanban.components.card, kanban.components.card kanban.components.card, kanban.components.sortable-list kanban.components.sortable-list}, :uses {sortable-list kanban.components.sortable-list}, :require-macros {dc devcards.core, devcards.core devcards.core, dom om.dom, om.dom om.dom}, :cljs.analyzer/constants {:seen #{:path :assignees :inspect-data :func :name :username :vertical :cards.sortable_list :documentation :card :key-fn :main-obj :initial-data :id :options :change-fn :items :element-fn :direction :heading :text}, :order [:path :func :cards.sortable_list :card :name :documentation :main-obj :initial-data :options :heading :items :key-fn :element-fn :change-fn :inspect-data :id :text :assignees :username :direction :vertical]}, :doc nil}