;; Analyzed by ClojureScript 1.7.145
{:use-macros nil, :excludes #{}, :name kanban.state, :imports nil, :requires nil, :uses nil, :defs {initial-state {:name kanban.state/initial-state, :file "/home/jannis/.boot/cache/tmp/home/jannis/oss/om-next-kanban-demo/594/7o2s6s/kanban/state.cljs", :line 3, :column 1, :end-line 3, :end-column 19, :meta {:file "/home/jannis/.boot/cache/tmp/home/jannis/oss/om-next-kanban-demo/594/7o2s6s/kanban/state.cljs", :line 3, :column 6, :end-line 3, :end-column 19}}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:lanes :description :assignees :name :username :id :cards :boards :users :text}, :order [:boards :lanes :cards :users :id :name :description :text :assignees :username]}, :doc nil}