;; Analyzed by ClojureScript 1.7.145
{:name kanban.util, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses {join clojure.string}, :requires {clojure.string clojure.string}, :imports nil, :defs {class-names {:protocol-inline nil, :meta {:file "/home/jannis/.boot/cache/tmp/home/jannis/oss/om-next-kanban-demo/9yk/7o2s6s/kanban/util.cljs", :line 4, :column 7, :end-line 4, :end-column 18, :arglists (quote ([m]))}, :name kanban.util/class-names, :variadic false, :file "/home/jannis/.boot/cache/tmp/home/jannis/oss/om-next-kanban-demo/9yk/7o2s6s/kanban/util.cljs", :end-column 18, :method-params ([m]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 4, :end-line 4, :max-fixed-arity 1, :fn-var true, :arglists (quote ([m]))}}}