;; Analyzed by ClojureScript 1.7.145
{:name cards.ui, :doc nil, :excludes #{}, :use-macros nil, :require-macros {dc devcards.core, devcards.core devcards.core}, :uses nil, :requires {dc devcards.core, devcards.core devcards.core, cards.cards cards.cards}, :imports nil, :defs {start {:protocol-inline nil, :meta {:file "/home/jannis/.boot/cache/tmp/home/jannis/oss/om-next-kanban-demo/nuf/7o2s6s/cards/ui.cljs", :line 5, :column 7, :end-line 5, :end-column 12, :arglists (quote ([]))}, :name cards.ui/start, :variadic false, :file "/home/jannis/.boot/cache/tmp/home/jannis/oss/om-next-kanban-demo/nuf/7o2s6s/cards/ui.cljs", :end-column 12, :method-params ([]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 5, :end-line 5, :max-fixed-arity 0, :fn-var true, :arglists (quote ([]))}}}