;; Analyzed by ClojureScript 1.7.145
{:name kanban.components.about, :doc nil, :excludes #{}, :use-macros nil, :require-macros {dom om.dom, om.dom om.dom}, :uses nil, :requires {dom om.dom, om.dom om.dom}, :imports nil, :defs {about {:protocol-inline nil, :meta {:file "/home/jannis/.boot/cache/tmp/home/jannis/oss/om-next-kanban-demo/fz4/7o2s6s/kanban/components/about.cljs", :line 4, :column 7, :end-line 4, :end-column 12, :arglists (quote ([]))}, :name kanban.components.about/about, :variadic false, :file "/home/jannis/.boot/cache/tmp/home/jannis/oss/om-next-kanban-demo/fz4/7o2s6s/kanban/components/about.cljs", :end-column 12, :method-params ([]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 4, :end-line 4, :max-fixed-arity 0, :fn-var true, :arglists (quote ([]))}}}