;; Analyzed by ClojureScript 1.7.170
{:name om.util, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires nil, :imports nil, :defs {force-children {:protocol-inline nil, :meta {:file "/home/jannis/.boot/cache/tmp/home/jannis/oss/om-next-kanban-demo/iow/i4vw5h/cards.out/om/util.cljs", :line 3, :column 7, :end-line 3, :end-column 21, :arglists (quote ([x]))}, :name om.util/force-children, :variadic false, :file "/home/jannis/.boot/cache/tmp/home/jannis/oss/om-next-kanban-demo/iow/i4vw5h/cards.out/om/util.cljs", :end-column 21, :method-params ([x]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 3, :end-line 3, :max-fixed-arity 1, :fn-var true, :arglists (quote ([x]))}}}